{# Skip Nav #}
{% embed '@atoms/skip-nav/_skip-nav.tpl.twig' %}
  {% block skip_nav_content %}
    {{ _e( 'Skip to content') }}
  {% endblock skip_nav_content %}
{% endembed %}

{% if options.hide_header_content == true %}
  {% embed '@organisms/header/_header.tpl.twig' with {
    background: header_bg ? header_bg,
    navbar_breakpoint: options.navbar_breakpoint ? options.navbar_breakpoint : 'lg',
    navbar_toggler_classes: hide_primary_nav == 'both' and hide_header_cta == 'both' and hide_header_search == 'both' and hide_secondary_nav == 'both' and hide_social_nav == 'both' and hide_secondary_nav == 'both' ? 'd-none',
    header_classes: [
      'site-header--simple',
      full_width == 'mobile' ? 'full-width-mobile',
      full_width == 'desktop' ? 'full-width-desktop',
      full_width == 'both' ? 'full-width',
      center_header ? 'center-mobile',
      logo_right ? 'logo-right',
      align_to_content ? 'align-to-content',
      full_screen ? 'full-screen-mobile-nav',
      options.site_header_layout.header_layout != 'default' ? 'site-header-' ~ options.site_header_layout.header_layout : post.meta('site_header_layout').header_layout != 'default' ? 'site-header-' ~ post.meta('site_header_layout').header_layout,
      'd-block'
    ],
    header_other_classes: '',
    cache_version: cache_version,
    paths: paths,
    header_alert_content: post.meta('header_alert_message') ? post.meta('header_alert_message') : options.header_alert_message ? options.header_alert_message,
    alert_other_classes: post.meta('header_alert_layout').alert_layout != 'default' ? 'alert-layout-' ~ post.meta('header_alert_layout').alert_layout : options.header_alert_layout.alert_layout != 'default' ? 'alert-layout-' ~ options.header_alert_layout.alert_layout
  } %}
    {% block header %}
      {% block nav_top %}
        {% if header_alerts_widget_area %}
          {{ header_alerts_widget_area }}
        {% endif %}
      {% endblock nav_top %}
      {% block additional_content %}
        {% if header_widget_area %}
          {{ header_widget_area }}
        {% endif %}
      {% endblock additional_content %}
    {% endblock %}
  {% endembed %}
{% else %}

  {# Header #}
  {% embed '@organisms/header/_header.tpl.twig' with {
    background: header_bg ? header_bg,
    navbar_breakpoint: options.navbar_breakpoint ? options.navbar_breakpoint : 'lg',
    navbar_toggler_classes: hide_primary_nav == 'both' and hide_header_cta == 'both' and hide_header_search == 'both' and hide_secondary_nav == 'both' and hide_social_nav == 'both' and hide_secondary_nav == 'both' ? 'd-none',
    header_classes: [
      'site-header--simple',
      full_width == 'mobile' ? 'full-width-mobile',
      full_width == 'desktop' ? 'full-width-desktop',
      full_width == 'both' ? 'full-width',
      center_header ? 'center-mobile',
      logo_right ? 'logo-right',
      align_to_content ? 'align-to-content',
      full_screen ? 'full-screen-mobile-nav',
      options.site_header_layout.header_layout != 'default' ? 'site-header-' ~ options.site_header_layout.header_layout : post.meta('site_header_layout').header_layout != 'default' ? 'site-header-' ~ post.meta('site_header_layout').header_layout,
    ],
    header_other_classes: '',
    cache_version: cache_version,
    paths: paths,
    header_alert_content: post.meta('header_alert_message') ? post.meta('header_alert_message') : options.header_alert_message ? options.header_alert_message,
    alert_other_classes: post.meta('header_alert_layout').alert_layout != 'default' ? 'alert-layout-' ~ post.meta('header_alert_layout').alert_layout : options.header_alert_layout.alert_layout != 'default' ? 'alert-layout-' ~ options.header_alert_layout.alert_layout
  } %}

    {% block nav_top %}
      {% if header_alerts_widget_area %}
        {{ header_alerts_widget_area }}
      {% endif %}
    {% endblock nav_top %}

    {% block header_branding %}
      {% if site_logo and (site_logo ends with '.svg') %}
        {% include "@atoms/branding/_branding.tpl.twig" with {
          url: site.url,
          logo_svg_inline: site_logo,
          colorOriginal: options.header_logo_use_original_color,
          site_name: site.name,
          site_slogan: site.description,
          branding_classes: [
            'navbar-brand'
          ],
          branding_other_classes: display_header_text == true ? '' : 'hide-text'
        } %}
      {% elseif site_logo %}
        {% include "@atoms/branding/_branding.tpl.twig" with {
          url: site.url,
          logo_bg_img_src: site_logo,
          site_name: site.name,
          site_slogan: site.description,
          height: options.brand_height ~ 'px',
          branding_classes: [
            'navbar-brand'
          ],
          branding_other_classes: display_header_text == true ? '' : 'hide-text'
        } %}
      {% elseif display_header_text == true %}
        <div class="site-header--brand-name">
          <a href="{{ site.url }}" class="branding--link">
            <h1 class="branding--site-name">{{ site.name }}</h1>
            <h2 class="branding--site-slogan">{{ site.description }}</h2>
          </a>
        </div>
      {% endif %}

      {# Cobrand #}
      {% if options.co_brand['url'] and (options.co_brand['url'] ends with '.svg') %}
        {% include "@atoms/branding/_branding.tpl.twig" with {
          url: site.url,
          logo_svg_inline: options.co_brand['url'] | replace({(site.url): ''}),
          colorOriginal: options.header_logo_use_original_color,
          branding_classes: [
            'co-brand'
          ],
          branding_other_classes: display_header_text == true ? '' : 'hide-text'
        } %}
      {% elseif options.co_brand['url'] %}
        {% include "@atoms/branding/_branding.tpl.twig" with {
          url: site.url,
          logo_bg_img_src: options.co_brand['url'],
          height: options.brand_height ~ 'px',
          branding_classes: [
            'co-brand'
          ],
          branding_other_classes: display_header_text == true ? '' : 'hide-text'
        } %}
      {% endif %}
    {% endblock header_branding %}

    {% block site_navigation %}
      {# INTENTIONALLY EMPTY TO REMOVE SITE NAVIGATION #}
    {% endblock site_navigation %}

    {% block additional_content %}
      {% if header_widget_area %}
        {{ header_widget_area }}
      {% endif %}
    {% endblock additional_content %}
  {% endembed %}
{% endif %}
